[submodule "ThirdParty/dr_libs"]
	path = ThirdParty/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
